.home-link {
	display: flex;
	align-items: center;
	gap: 0.5rem;
	font-size: 1.5rem;
	padding: 0.25rem 0.5rem;
	border: 3px solid var(--c-white);
	border-radius: 0.5rem;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	text-transform: uppercase;
	user-select: none;

	svg {
		width: 32px;
		height: 32px;
		min-width: unset;
		min-height: unset;
	}
}
