.overlay {
	position: fixed;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
	transform-origin: center;
	width: 2rem;
	word-break: break-all;
	line-height: 1.25rem;
}

.home-link {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	gap: 0.25rem;
	font-size: 1rem;
	padding: 0.25rem;
	border: 3px solid var(--c-white);
	border-radius: 0.5rem;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	text-transform: uppercase;
	user-select: none;

	svg {
		width: 20px;
		height: 20px;
		min-width: unset;
		min-height: unset;
	}
}
