.receive {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 2rem;
}

.qr-code {
	transition: 0.25s ease-in-out;

	svg {
		width: 35vw;
		height: 35vh;
		min-width: 64px;
		min-height: 64px;
		max-width: 256px;
		max-height: 256px;
	}

	&:hover {
		scale: (2);
	}
}
